<!DOCTYPE html>
<html>
<head>
<title> User Login </title>
</head>
<body>
<form action="/login" method="POST">
<%if (failed == true) {%>
    <p> You have entered the wrong username or password </p>
<%}%>
<label> Username 
    <input type="text" name="username" required/>
</label>
<br />
<label> Password
    <input type="password" name="password" required/>
</label>
    <button type="submit"> Submit</button>
</form>
</body>
</html>