<!DOCTYPE html>
<html>
<head>
<title> List of Posts </title>
</head>
<body>
<%for (const [key, val] of Object.entries(jsonData)) {%>
    Title: <%= key%>
    <br />
    Body: <%= val%>
    <br />
    <form method="POST" action="/posts/delete/<%= key%>">
    <button type="submit"> Delete </button>
    </form>
    <a href="/posts/edit/<%= key%>"> Edit </a>
    <br /> 
    <br />
    <% } %>
<a href="/posts/new"> create new post </a>
</body>
</html>