<!DOCTYPE html>
<html>
<head>
<title> List of Posts </title>
</head>
<body>
<%for (const item of jsonData) {%>
    Title: <%= item["title"]%>
    <br />
    Body: <%= item["body"]%>
    <br />
    <form method="POST" action="/posts/delete/<%= item["post_id"]%>">
    <button type="submit"> Delete </button>
    </form>
    <a href="/posts/edit/<%= item["post_id"]%>"> Edit </a>
    <br /> 
    <br />
    <% } %>
<a href="/posts/new"> create new post </a>
<br />
<a href="/"> homepage </a>
</body>
</html>