<!DOCTYPE html>
<html>
<head>
<title> Forum </title>
</head>
<body>
<form action="/posts" method="POST">
<label> Title 
    <input type="text" name="title" />
</label>
<br />
<label> Body 
    <input type="text" name="body" />
</label>
    <button type="submit"> Submit</button>
</form>
</body>
</html>